<h1>Add New Event</h1>
  <button class="btn btn-primary submit" ng-click="cc.logIn()">Log In To Add Event</button>
  <button class="btn btn-primary submit" ng-click="cc.logOut()">Log Out</button>
<div class="event-form">
  <label for="bands">Bands/Musicians:</label>
  <input type="text" ng-model="cc.newEvent.title" placeholder="Bands/Musicians" class="form-control info">

  <label for="venue">Venue:</label>
  <input type="text" ng-model="cc.newEvent.venue" placeholder="Venue" class="form-control info">

  <label for="date">Date &amp; Time:</label>
  <div class="dropdown info">
    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#create" href="#create">
      <div class="input-group"><input type="text" placeholder="Date &amp; Time" class="form-control" data-ng-model="cc.newEvent.start"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <datetimepicker data-ng-model="cc.newEvent.start" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
    </ul>
  </div>

  <label for="cover">Cover:</label>
  <input type="text" ng-model="cc.newEvent.cover" placeholder="Cover" class="form-control info">
  <button class="btn btn-primary submit" ng-click="cc.createEvent()">Submit Event</button>
</div>
