<h1>Venue Addresses</h1>

<a href="http://www.minneapoliseagles34.org/">Eagle's Club 34</a>
<p>2507 East 25th Street<br>Minneapolis, MN 55406</p>

<a href="http://dead-media.org/">Dead Media Records</a>
<p>3330 East 25th Street<br>Minneapolis, MN 55406</p>

<a href="http://www.sewardcafe.com/">Seward Cafe</a>
<p>2129 East Franklin Avenue<br>Minneapolis, MN 55404</p>

<a href="http://hexagonbar.com/">Hexagon Bar</a>
<p>2600 27th Avenue South<br>Minneapolis, MN 55406</p>

<a href="http://www.memorylanes.com/">Memory Lanes</a>
<p>2520 26th Avenue South<br>Minneapolis, MN 55406</p>

<a href="http://palmersbar.net/">Palmer's Bar</a>
<p>500 Cedar Avenue South<br>Minneapolis, MN 55454</p>

<a href="http://www.nomadpub.com/">Nomad World Pub</a>
<p>501 Cedar Avenue South<br>Minneapolis, MN 55454</p>

<a href="http://www.triplerocksocialclub.com/">Triple Rock Social Club</a>
<p>629 Cedar Ave South<br>Minneapolis, MN 55454</p>

<a href="http://www.reveriempls.com/">Reverie Cafe + Bar</a>
<p>1931 Nicollet Avenue<br>Minneapolis, MN 55403</p>

<a href="http://www.icehousempls.com/">Icehouse</a>
<p>2528 Nicollet Avenue<br>Minneapolis, MN 55404</p>

<a href="http://www.uptownvfw.com/">Uptown VFW</a>
<p>2916 Lyndale Avenue South<br>Minneapolis, MN 55408</p>

<a href="http://kittycatklub.net/">Kitty Cat Klub</a>
<p>315 14th Avenue South<br>Minneapolis, MN 55414</p>

<a href="http://first-avenue.com/">First Avenue &amp; 7th Street Entry</a>
<p>701 North 1st Avenue<br>Minneapolis, MN 55403</p>

<a href="http://the-white-page.org/ABOUT">White Page Gallery</a>
<p>3400 Cedar Avenue South<br>Minneapolis, MN 55407</p>

<a href="https://minnehahafreespace.org/">Minnehaha Free Space</a>
<p>3747 Minnehaha Avenue<br>Minneapolis, MN 55406</p>

<a href="http://331club.com/">331 Club</a>
<p>331 13th Avenue NE<br>Minneapolis, MN 55413</p>

<a href="http://turfclub.net/">Turf Club</a>
<p>1601 University Avenue West<br>St. Paul, MN 55104</p>
