<div class="text-center">

<h1>Venue Addresses</h1>

<a href="http://www.minneapoliseagles34.org/" target="_blank">Eagle's Club 34</a>
<p>2507 East 25th Street<br>Minneapolis, MN 55406</p>

<a href="http://dead-media.org/" target="_blank">Dead Media Records</a>
<p>3330 East 25th Street<br>Minneapolis, MN 55406</p>

<a href="http://www.sewardcafe.com/" target="_blank">Seward Cafe</a>
<p>2129 East Franklin Avenue<br>Minneapolis, MN 55404</p>

<a href="http://hexagonbar.com/" target="_blank">Hexagon Bar</a>
<p>2600 27th Avenue South<br>Minneapolis, MN 55406</p>

<a href="http://www.memorylanes.com/" target="_blank">Memory Lanes</a>
<p>2520 26th Avenue South<br>Minneapolis, MN 55406</p>

<a href="http://palmersbar.net/" target="_blank">Palmer's Bar</a>
<p>500 Cedar Avenue South<br>Minneapolis, MN 55454</p>

<a href="http://www.nomadpub.com/" target="_blank">Nomad World Pub</a>
<p>501 Cedar Avenue South<br>Minneapolis, MN 55454</p>

<a href="http://www.triplerocksocialclub.com/" target="_blank">Triple Rock Social Club</a>
<p>629 Cedar Ave South<br>Minneapolis, MN 55454</p>

<a href="http://www.reveriempls.com/" target="_blank">Reverie Cafe + Bar</a>
<p>1931 Nicollet Avenue<br>Minneapolis, MN 55403</p>

<a href="http://www.icehousempls.com/" target="_blank">Icehouse</a>
<p>2528 Nicollet Avenue<br>Minneapolis, MN 55404</p>

<a href="http://www.uptownvfw.com/" target="_blank">Uptown VFW</a>
<p>2916 Lyndale Avenue South<br>Minneapolis, MN 55408</p>

<a href="http://kittycatklub.net/" target="_blank">Kitty Cat Klub</a>
<p>315 14th Avenue South<br>Minneapolis, MN 55414</p>

<a href="http://www.leesliquorlounge.com/" target="_blank">Lee's Liquor Lounge</a>
<p>101 Glenwood Avenue<br>Minneapolis, MN 55403</p>

<a href="http://first-avenue.com/" target="_blank">First Avenue &amp; 7th Street Entry</a>
<p>701 North 1st Avenue<br>Minneapolis, MN 55403</p>

<a href="http://the-white-page.org/ABOUT" target="_blank">White Page Gallery</a>
<p>3400 Cedar Avenue South<br>Minneapolis, MN 55407</p>

<a href="https://minnehahafreespace.org/" target="_blank">Minnehaha Free Space</a>
<p>3747 Minnehaha Avenue<br>Minneapolis, MN 55406</p>

<a href="http://331club.com/" target="_blank">331 Club</a>
<p>331 13th Avenue NE<br>Minneapolis, MN 55413</p>

<a href="http://turfclub.net/" target="_blank">Turf Club</a>
<p>1601 University Avenue West<br>St. Paul, MN 55104</p>

<a href="http://khyberpasscafe.com/music/" target="_blank">Khyber Pass Cafe</a>
<p>1571 Grand Avenue<br>St. Paul, MN 55105</p>

</div>
