body {
  font-family: 'Vollkorn', serif;
  background-color: #f2f1da;
}

.jumbotron {
  background-color: #a0202a;
  color: #f2f1da;
  font-family: 'Bungee Shade', cursive;
}

a {
  color: #a0202a;
}

a:focus {
  color: black;
}

a:hover {
  color: black;
}

.nav>li>a:focus {
  background-color: #f2f1da;
  color: #a0202a;
  border: 1px solid #a0202a;
}

.nav>li>a:hover {
  background-color: #a0202a;
  color: #f2f1da;
}

.fc-event {
  background-color: #a0202a;
  color: #f2f1da;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.fc-event:hover, .fc-event:focus, .fc-event:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.fc-button {
  background-color: #a0202a;
  color: #f2f1da;
}

.fc-state-default {
  background-color: #a0202a;
  color: #f2f1da;
}

.fc-state-active {
  background-color: #f2f1da;
  color: #a0202a;
}

.fc-today {
  background-color: #f2da65;
}

.info {
  margin: 5px 0 5px 0;
}

.submit {
  background-color: #a0202a;
  color: #f2f1da;
  border: none;
  margin: 5px 5px 5px 0;
}

.submit:hover {
  background-color: #f2f1da;
  color: #a0202a;
  border: 1px solid #a0202a;
}
